<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>大陸の覇者　バフシミュレータ</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
  <div class="app">

    <!-- 上：操作エリア -->
    <div class="control-panel">
      <div class="character-ability-cards">
        <!-- JSで8枠生成 -->
      </div>
    </div>

    <!-- 下：結果表示エリア -->
    <div class="summary-pane">
      <div class="summary-filters" id="summary-filters">
        <!-- JSで描画 -->
      </div>

    <!--<table id="resultTable">-->
      <div class="summary-table">
        <table class="effect-summary">
            <thead>
            <tr>
                <th>対象</th>
                <th>効果内容</th>
                <th>区分</th>
                <th>合算</th>
                <th>上限</th>
                <th>適用</th>
            </tr>
            </thead>
            <tbody id="effect-summary-body"></tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Ability Select Modal -->
  <div id="abilityModal" class="modal hidden">
    <div class="modal-backdrop"></div>

    <div class="modal-content">
      <div class="modal-header">
        <h3 id="modalCharacterName">キャラクター名</h3>
        <!--<button id="modalCloseBtn">×</button>-->
      </div>

      <div class="modal-tabs">
        <button class="modal-tab active" data-tab="battle">バトアビ</button>
        <button class="modal-tab" data-tab="ex">必殺・EX</button>
        <button class="modal-tab" data-tab="support">サポアビ</button>
      </div>

      <div class="modal-body">
        <!-- 後で中身を描画 -->
      </div>

      <div class="modal-footer">
        <button id="modalCancelBtn">キャンセル</button>
        <button id="modalOkBtn">OK</button>
      </div>
    </div>
  </div>

  <script src="/static/constants.js"></script>
  <script src="/static/state.js"></script>
  <script src="/static/ui_render.js"></script>
  <script src="/static/ui_handlers.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>
