<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>大陸の覇者　バフシミュレータ</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
  <div class="app">

    <!-- 上：操作エリア -->
    <div class="control-panel">
      <h2>編成・アビリティ選択</h2>

      <label>
        キャラクター選択：
        <select id="characterSelect"></select>
      </label>

      <div id="abilities"></div>
    </div>

    <!-- 下：結果表示エリア -->
    <div class="result-panel">
    <h2>効果サマリー</h2>

    <div class="tabs">
        <button class="tab active" data-tab="offense">🗡 攻撃</button>
        <button class="tab" data-tab="defense">🛡 防御</button>
    </div>

    <table id="resultTable">
        <thead>
        <tr>
            <th>区分</th>
            <th>種別</th>
            <th>内容</th>
            <th>対象</th>
            <th>合計</th>
            <th>上限</th>
            <th>有効</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
  </div>
  <script src="/static/app.js"></script>
</body>

</html>
